//import fonts
//@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
//import moulue bootstrap
@import "bootstrap/scss/bootstrap.scss";
//import moudule icon bootstrap
@import "bootstrap-icons/font/bootstrap-icons.css";
//import moulue bootstrap
@import "fontawesome/scss/fontawesome.scss";
@import "fontawesome/scss/solid.scss";
@import "fontawesome/scss/brands.scss";

body {
  //font-family: 'Courier Prime', monospace;
  font-family: 'Roboto Mono', monospace;
}

// Variables

//space
$space-1: 0.5rem;
$space-2: 0.75rem;
$space-3: 1rem;
$space-4: 5rem;

//color
$blue: #31475e;
$green: #42b883;
$black: #1A202C;
$white: #d9d9d9;
$gray: rgba(145, 145, 145, 0.7);

//*********** General ********
//text
.text-decoration {
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-color: #31475ee3;
  text-decoration-thickness: 4px;
  margin-top: $space-2;
  margin-bottom: $space-3;
}

.text-align {
  text-align: justify;
}

.text-black {
  color: $black !important;
}

//space
.space-3 {
  margin: $space-3;
}

.mvh-100 {
  min-height: 100vh;
}

/* MAIN */
.main {
  text-align: center;
}

.pad {
  padding-top: 80px;
}

/* NAME */

.name {
  text-align: center;
}

.container-profession {
  width: fit-content;
}

.profession {
  background-color: #637485;
  color: #fff;;
  text-align: center;
  padding: $space-3 $space-4;
  border-radius: $space-1;
}

.profession:hover {
  box-shadow: 0px 0px 3px 3px #637485 !important;
  transition:  box-shadow 0.3s ease-in-out;
}

// Skills

.list-skills {
  list-style: none;
  width: max-content;
}

.html5 {
  color: #F25320;
}

.css {
  color: #006AB1;
}

.sass {
  color: #CF649A;
}

.javascript {
  color: #F2D501;
}

.php {
  color: #8892BF;
}

.python {
  color: #3873A3;
}

.git {
  color: #F44D27;
}

.vue {
  color: #3EAF7C;
}

.laravel {
  color: #FF2D20;
}

.bootstrap {
  color: #7952B3;
}

.database {
  color: #ff5757;
}
// CONTACT
.list-contact {
  width: max-content;
}
// PORTFOLIO
// THEME
.bg-dark {
  transition: ease-in-out 0.3s all;

  h1, h2, h3, h4, h5, h6 {
    color: #EDEDEE !important;
  }

  p {
    color: #EDEDEE !important;
  }

  span {
    color: #EDEDEE !important;
  }

  .text-decoration {
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-color: #b3b3b3d7 !important;
    text-decoration-thickness: 4px;
    margin-top: $space-2;
    margin-bottom: $space-3;
  }

  .card {
    background-color: $blue !important;
    border: 1px solid $gray !important;
  }
  .card:hover {
    background-color: $blue !important;
    border: 1px solid $green !important;
  }

  .nav-item a.router-link-exact-active {
    font-weight: bold;
    color: $white;
  }

  .nav-item a.router-link-exact-active:hover {
    font-weight: bold;
    color: $green;
  }

  .nav-link {
    color: $white;
  }

  .nav-link:hover {
    font-weight: bold;
    color: $green;
  }
}

/* HEADER */
.filter {
  width: 100% !important;
  background-color: rgba(255, 255, 255, 0.3);
  line-height: 1;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 20px 40px;
}

.nav-item a.router-link-exact-active {
  font-weight: bold;
}


/*Animaciones*/
/* Grow */
.hvr-grow {
  display: block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
  cursor: pointer;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
  font-weight: bold;
}

/* Grow Rotate */
.hvr-grow-rotate {
  display: inline-block;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-grow-rotate:hover,
.hvr-grow-rotate:focus,
.hvr-grow-rotate:active {
  -webkit-transform: scale(1.1) rotate(50deg);
  transform: scale(1.1) rotate(50deg);
}

/* Wobble To Bottom Right */
@-webkit-keyframes hvr-wobble-to-bottom-right {
  16.65% {
    -webkit-transform: translate(8px, 8px);
    transform: translate(8px, 8px);
  }
  33.3% {
    -webkit-transform: translate(-6px, -6px);
    transform: translate(-6px, -6px);
  }
  49.95% {
    -webkit-transform: translate(4px, 4px);
    transform: translate(4px, 4px);
  }
  66.6% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  83.25% {
    -webkit-transform: translate(1px, 1px);
    transform: translate(1px, 1px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes hvr-wobble-to-bottom-right {
  16.65% {
    -webkit-transform: translate(8px, 8px);
    transform: translate(8px, 8px);
  }
  33.3% {
    -webkit-transform: translate(-6px, -6px);
    transform: translate(-6px, -6px);
  }
  49.95% {
    -webkit-transform: translate(4px, 4px);
    transform: translate(4px, 4px);
  }
  66.6% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  83.25% {
    -webkit-transform: translate(1px, 1px);
    transform: translate(1px, 1px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

.hvr-wobble-to-bottom-right:hover,
.hvr-wobble-to-bottom-right:focus,
.hvr-wobble-to-bottom-right:active {
  -webkit-animation-name: hvr-wobble-to-bottom-right;
  animation-name: hvr-wobble-to-bottom-right;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
